<p>menu works!</p>
<body>
  <header>
    <img src="../../../assets/images/burger-crunch.png" alt="">
    <img src="" alt="">
  </header>
  <section></section>
  <section>
    <input type="text">
    <div id="containerFood"></div>
  </section>
  <section>
    <div>
      <input type="text">
      <input type="number" min="1" max="8">
    </div>
    <div>
      <h3>Orden de Pedido</h3> 
      <div>
        <p>Descripción</p>
        <div id="chooseFood"></div>
        <p>Cantidad</p>
        <div id="quantityFood"></div>
        <p>Precio</p>
        <div id="priceFood"></div>
      </div>
      <input type="button">
    </div>
  </section>
</body>
